body {
  background-color: #2d3142;
  font-family: "Orbitron", sans-serif;
}

.header-row {
  margin-bottom: 0.5rem;
}
.header {
  color: #ef8354;
  padding-top: 3rem;
  margin-bottom: 0;
}

.sub-header {
  margin-top: 0px;
  color: #fff;
  padding-left: 1rem;
}

.btn {
  background-color: #4f5d75;
  color: #bfc0c0;
}

.btn:hover {
  background-color: #4f5d75;
}

.project {
  padding-top: 4rem;
}

.section-header {
  margin-bottom: 0;
  margin-top: 2rem;
}

.projects {
  color: #bfc0c0;
}

a {
  color: #fff;
}

.icon {
  font-size: 4rem;
}

.bio {
  color: #ef8354;
  font-size: 1.2rem;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
