body {
  background-color: #2d3142;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1rem;
}

.header-row {
  margin-bottom: 0.5rem;
}
.header {
  color: #ef8354;
  padding-top: 3rem;
  margin-bottom: 0;
}

.sub-header {
  margin-top: 0px;
  color: #fff;
  padding-left: 1rem;
}

.btn {
  background-color: #4f5d75;
  color: #bfc0c0;
}

.btn:hover {
  background-color: #4f5d75;
  text-decoration: none;
}

.project {
  padding-top: 4rem;
}

.section-header {
  margin-bottom: 0;
  margin-top: 2rem;
}

.projects {
  padding-left: 3.3rem;
}

a {
  color: #fff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.icon {
  font-size: 4rem;
  color: #fff;
}

.bio {
  color: #ef8354;
  font-size: 1.2rem;
}

.footer-text a {
  color: #ef8354;
}
